/* scrollbar */
::-webkit-scrollbar {
width: 4px;
height: 8px;
}

::-webkit-scrollbar-track:vertical {
background: #000000;
border-radius: 0;
}

::-webkit-scrollbar-thumb:vertical {
background: #008b8b;
border-left: 1px solid #000000;
border-right: 1px solid #000000;
border-top: 1px solid #000000;
border-bottom: 1px solid #000000;
border-radius: 0;
}

::-webkit-scrollbar-track:horizontal {
background: #000000;
border-radius: 0;
}

::-webkit-scrollbar-thumb:horizontal {
background: #008b8b;
border-left: 1px solid #000000;
border-right: 1px solid #000000;
border-top: 1px solid #000000;
border-bottom: 1px solid #000000;
border-radius: 0;
}

::-webkit-scrollbar-corner {
background: #000000;
}
